:root {
    --primary-color: rgba(119, 3, 252, 1);
    --secondary-color: rgba(23, 5, 43, 1);
    --tertiary-color: rgba(255, 255, 255, 1);
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    color: var(--secondary-color);
    font-family: 'Montserrat', 'Ariel', sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--primary-color);
    background-image: url();
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
    display: flex;
}

header nav a {
    text-decoration: none;
    color: var(--secondary-color)
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
    display: flex;
}

.hero {

    color:var(--tertiary-color);
    background-image: url(../../assets/images/background.png);
    background-color: var(--tertiary-color);
}

.hero p {
    font-style: italic;
    font-size: 38px;
    width: 100%;
    text-align: end;
    margin: 3.5%;
    font-size: 18p
}

.section-title {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 48px;
    font-style: bold;
    width: auto;
    margin-left: 20%;
    padding-right: 20px;
    border-right: 4px solid var(--primary-color);
    text-align: right;
}

.section-content {
    display:flex;
    font-size: 24px;
    margin-right: 20%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-content div {
    display: flex;
    margin-right: 20%;
    flex-wrap: wrap;

    justify-content: space-between;
    
}

.section-content p {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    max-width: 80%;

}

.flex-row {
    display: flex;
}

.largeimg {
    display:flex;
    max-width: max-content;
    border-radius: 20px;
    max-width: 100%;
    margin: 5px;
    border: 5px solid var(--primary-color)
}

.smallimg {
    display: flex;
    width: max-content;
    border-radius: 20px;
    max-width: 40%;
    margin: 5px;
    border: 5px solid var(--primary-color);
    
}